# DATABASE
HOSTNAME=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=gownshop

# EMAIL_CONFIGURATION
EMAIL_ADMIN=sampleemail@gmail.com
EMAIL_PASS="sample pass"


# GOOGLE AUTH
GOOGLE_CLIENT_SECRET=sample
GOOGLE_CLIENT_ID=sample
GOOGLE_REDIRECT=sample
