.add-gown-btn {
    width: 130px;
    height: 80px;
    border-radius: 10px;
    margin: 40px 10px 0px 1%;
    border-color: #041623;
    background-color: #041623;
    color: white;
    transition: all 0.3s ease;
}

.add-gown-btn:hover {
    background-color: #212b5a;
    border-color: #212b5a;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.add-gown-btn:active,
.add-gown-btn:focus:active {
background-color: whitesmoke;
border-color: #152322;
color: #152322;
box-shadow: none;
outline: none;
}
.card-hover .img-container img {
  transition: transform 0.3s ease-in-out;
}

.card-hover:hover .img-container img {
  transform: scale(1.05); /* Add the transformation effect */
  z-index: 1;
}

.gown-card {
  max-width: 30%;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.img-container {
  height: 100%;
  max-height: 300px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none; /* Ensures no border */
}