@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto:wght@400;500;600;700&display=swap');

.success-alert{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color:whitesmoke;
    color:#041623;
    padding: 15px 20px;
    border: 1px solid rgb(10, 11, 52);
    border-radius: 2px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeOut 1.2s ease-in-out 1.2s forwards;
    text-align: center;
            white-space: pre-line;
}
.error-alert{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    color: #9e1c1c;
    padding: 15px 20px;
    border: 1px solid rgb(11, 14, 42);
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeOut 1.2s ease-in-out 1.2s forwards;
    text-align: center;
            white-space: pre-line;
}