@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    overflow: hidden; /* Disables scrolling */
    height: 100vh; /* Ensures the body takes full viewport height */ /* Ensures full width */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* message alert message */
.success-alert{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color:whitesmoke;
    color:#041623;
    padding: 15px 20px;
    border: 1px solid rgb(10, 11, 52);
    border-radius: 2px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeOut 1.2s ease-in-out 1.2s forwards;
}
.error-alert{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    color: #9e1c1c;
    padding: 15px 20px;
    border: 1px solid rgb(11, 14, 42);
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeOut 1.2s ease-in-out 1.2s forwards;
}

/* Dashboard Layout */
.dashboard {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;  /* Make the dashboard wrap on small screens */
}

/* Sidebar Styles */
.sidebar {
    position: sticky;
    width: 20%;
    background-color: #041623  ;
    color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out;

}

.sidebar .heads img {
    margin-bottom: 20px;
    height: 180px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sidebar .heads {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 15px;

    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sidebar .menu {
    list-style: none;
    padding-left: 0px;
}

.sidebar .menu li {
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: large;
}

.sidebar .menu li a {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 10px;
    border-radius: 5px;

}
.sidebar .menu li button {
    color: white;
    text-decoration: none;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

.sidebar .menu li span {
    margin-left: 20px;
    font-weight: lighter;
}


.sidebar .menu li a img {
    width: 30px;
    height: 30px;
}

.sidebar .menu li a:hover {
    background-color:  #0c2c43;
}
.sidebar .menu li button:hover {
    background-color:  #041623;
}


.sidebar .menu li a:active {
    background-color: #969494;
    color: #041623;
}

.toggle-btn {
    display: none;  
    position: relative;
    color:rgb(255, 255, 255);
    font-size: 30px;
    z-index: 1001;
    background: none;
    border: none;
    cursor: pointer;
  }

/* Main Content Layout */   
.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 80%;
    padding: 0px;
    height: 100%;
    
}
.content{
    overflow-y: auto; /* Enables vertical scroll if needed */
    height: 80vh;
    overflow-x:hidden;
    padding: 20px;
    padding-right: 10px;

}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #041623;
    color: white;
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
}

.topbar .search input {
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: #1E201E;
    font-size: 16px;
    margin-left: 20px;
}

span {
    font-size: larger;
    font-weight: 500;
}

.topbar .user-profile {
    display: flex;
    align-items: center;
}


.topbar .user-profile img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    margin-left: 30px;
    
}
.table-dark th {
    background-color: #041623 !important;
    color: #fff !important;
  }

/* Product Cards */
.row {
        
    display: flex;
    flex-wrap: wrap; /* Cards will stack on smaller screens */
    justify-content: flex-start;
}

.card {
    
    box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.3);
    padding-top: 10px;
    margin: 10px;
    width: 16rem;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-body-product {
    display: flex;
    flex-direction: column;
    background-color: #272727;
}

.card-body .card-text {
    color: white;
}

.card-body .card-title {
    color: white;
    margin-top: 20px;
}


/* Responsive Media Queries */
@media screen and (max-width: 1200px) {
    .sidebar {
        width: 25%;
    }

    .main-content {
        width: 75%;
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        width: 30%;
    }

    .main-content {
        width: 70%;
    }

    .topbar .search input {
        width: 80%;
    }
    .dashGreet{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: 100vh;
        height: auto;
    }

    .main-content {
        width: 100%;
    
    }

    .topbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .topbar .search input {
        width: 100%;
    }
    
    /* Stack cards vertically on small screens */
    .row {
        justify-content: center;


    }

    .card {
        width: 100%;
        margin-bottom: 15px;
    }
    .topbar .user-profile {
        display: none;
        align-items: center;
    }
    .toggle-btn {
      display: block;
      color: #777e83; 
      
    }
    
}

@media screen and (max-width: 480px) {
    .topbar {
        padding: 10px;
    }

    .topbar .search input {
        font-size: 14px;
        padding: 8px;
    }

    .card {
        width: 90%;
    }

    .card-body-product .card-title {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .main-content{
        margin: 0;
    }
    
    
    
}
@media (max-width: 768px) {
    
    .gown-card .row {
        flex-direction: column;
    }

    .gown-card .col-md-7,
    .gown-card .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
    }

    .gown-card img {
    border-radius: 0 !important;
    width: 100%;
    height: auto;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      z-index: 1000;
    }
  
    .sidebar.active {
      transform: translateX(0);
    }
    .card{
        width: 12rem;
    }
    
    
  }

  .card-box {
    width: 25%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(21, 87, 81, 0.25);
    margin: 10px;
    margin-top: 0;
  }
  
  .card-title {
    font-size: 18px;
    color: #555;
    margin-bottom: 0.25rem; /* equivalent to Bootstrap's mb-1 */
  }
  
  .card-number {
    font-size: 64px;
    font-weight: bold;
    color: #041623;
  }
  
  .card-img {
    width: 100px;
  }
  

.footer {
    position: absolute; 
    bottom: 0;
     width: 90%;
      text-align: center;   padding: 10px; background-color: #041623;

    }